<h1>Team <%= @manager.team_name %></h1>
<p><%= link_to "Back", :back %></p>
<% @players.each do |player| %>
	<h3><%= player.data["first_name"]%> 
	<%= player.data["second_name"]%></h3><br>
	<p>Team: <%= player.data["team_name"]%></p>
	<p>Position: <%= player.data["type_name"]%></p>
	<p>Cost: <%= player.data["now_cost"]%>M</p>
	<p>Points: <%= player.data["total_points"]%></p>
	<p>Points/game: <%= player.data["points_per_game"]%></p>
	<p>Yellow cards: <%= player.data["yellow_cards"]%></p>
	<p>Red cards: <%= player.data["red_cards"]%></p>
	<br>
	<p>Previous game: <%= player.data["current_fixture"]%></p>
	<p>Next game: <%= player.data["next_fixture"]%></p>
<% end %>
