<nav class="navbar navbar-default">
  <div class="container">
    <div class="">
      <%= link_to "Silly Season League", "/", :"data-no-turbolink" => true, class: "navbar-brand" %>  
    </div>
    <%= button_to "Kristian", quicklogin_path("kl"), method: "get", class: "btn btn-inverse navbar-btn", form_class: "inline" %>
    <%= button_to "Patrik", quicklogin_path("pn"), method: "get", class: "btn btn-inverse navbar-btn", form_class: "inline" %>
    <%= button_to "Johan", quicklogin_path("jl"), method: "get", class: "btn btn-inverse navbar-btn", form_class: "inline" %>
    <%= button_to "Peter", quicklogin_path("pb"), method: "get", class: "btn btn-inverse navbar-btn", form_class: "inline" %>
    <% if current_user && current_user.league %>
      <%= button_to "Players", players_path, method: "get", class: "btn btn-default navbar-btn", form_class: "inline" %>
      <%= button_to "Transfers", transfers_path, method: "get", class: "btn btn-default navbar-btn", form_class: "inline" %>
    <% end %>
    <% if current_user %>
      <%= button_to "Logout", logout_path, method: "delete", class: "red btn btn-default navbar-btn", form_class: "inline" %>
    <% else %>
      <%= button_to "Login", sign_in_path, method: "get", class: "btn btn-default navbar-btn", form_class: "inline" %>
      <%= button_to "Sign Up", new_user_path, method: "get", class: "btn btn-default navbar-btn", form_class: "inline" %>
    <% end %>
  </div>
</nav>