<hr>
<% player = @players[id] %> 
<% player_data = $data[player[:id]] %> 

<p>* <%= player_data[:first_name] %> <%= player_data[:last_name] %>, <%= player_data[:team_name] %>, <%= player_data[:position]%></p>
<p>-- Points: <%= player_data[:total_points].to_s %>, gw points: <%= player_data[:gw_points].to_s %>, fixture: <%= player_data[:current_fixture] %>, chance of playing: <%= player_data[:gw_plays].to_s %>%</p>
<% #value = number_with_precision(player[:value]/1000000.0, precision: 2) %>
<p>-- Owned: <%= player[:owned] ? "Yes" : "No" %></p>
<p>-- Value: <%= player[:value] %></p>
<!-- button to buy player -->
<% if player[:user].nil? %>
	<% value = player[:value] %>
<% elsif player[:user] == @user.id %>
	<% value = player[:topbid] %>
<% else %>
	<% value = player[:value] + 100000 %>
<% end %>
<%= form_tag(bid_path(id), method: "get") do %>
	<%= number_field_tag :bid, value, min: player[:user] == @user.id ? player[:value] : value, step: 100000, length: 12 %>
	<%= submit_tag("#{player[:user] == @user.id ? "Change Top Salary" : "Bid"}") %>
<% end %>


<% if player[:user] == @user.id %>
	<% sell_price = (player[:value] * 0.9).round %>
	<%= form_tag sell_path(id), method: "get" do %>
		<%= submit_tag "Sell player for #{sell_price}" %>
	<% end %> 
<% end %>
