<%= form_for @user do |f| %> 
<p>
	<%= f.text_field :email, placeholder: 'Email' %>
	<%= f.text_field :name, placeholder: 'Your Name' %>
	<br>
	<%= f.password_field :password, placeholder: 'Password' %>
	<%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %>
	<%= f.submit "Signup!" %>
</p>


<% end %> 


