
	<p><%= link_to "Back", :back %></p>
	<h3><%= @player_data["first_name"]%> 
	<%= @player_data["second_name"]%></h3><br>
	<p>Team: <%= @player_data["team_name"]%></p>
	<p>Position: <%= @player_data["type_name"]%></p>
	<p>Cost: <%= @player_data["now_cost"]%>M</p>
	<p>Points: <%= @player_data["total_points"]%></p>
	<p>Points/game: <%= @player_data["points_per_game"]%></p>
	<p>Yellow cards: <%= @player_data["yellow_cards"]%></p>
	<p>Red cards: <%= @player_data["red_cards"]%></p>
	<br>
	<p>Previous game: <%= @player_data["current_fixture"]%></p>
	<p>Next game: <%= @player_data["next_fixture"]%></p>

