<p>Logged in as: <%= @user.name %> - <%= @user.team_name %></p>
<p>Current gameweek: <%= current_gameweek %></p>
<p>Transfers active? <%= transfers_active? %></p>




<%= button_to "Stop Transfers (simulation purpose)", stop_path(), method: "get", class: "btn btn-inverse", form_class: "inline"%>
<%= button_to "End GW (simulation purpose)", newgameweek_path(), method: "get", class: "btn btn-inverse", form_class: "inline"%>
<h1>Transfers</h1>
<% @users.each do |user| %>
	<hr>
	<p>Manager: <%= user.name %></p>
	<p>Team: <%= user.team_name %></p>
	<p>Players:</p>
	<% @teams[user.id].each do |player| %>
		<p>- <%= player %></p>

	<% end %>
<% end %>
